package web

templ HelloForm() {
	@Base() {
		<form hx-post="/hello" method="POST" hx-target="#hello-container">
			<input class="input input-bordered" id="name" name="name" type="text"/>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<div id="hello-container"></div>
	}
}

templ HelloPost(name string) {
	<div class="">
		<p>Hello, { name }</p>
	</div>
}
